{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "strict": 0,
    "no-console": "error",
    "quotes": [
      "warn",
      "single"
    ],
    "prettier/prettier": "warn",
    "no-unused-vars": "error",
    "no-var":"error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": ["prettier", "jsx-a11y", "react-hooks"],
  "settings": {
    "react":{
      "version":"detect"
    }
  }
}
